/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-dic-2025, 12.52.17
    Author     : Lenovo
*/

.root {
    -green: #4CAF50;
    -background-light-blue: #ECEFF1;
    -dark-green: #45a049;
    -grey: #e0e0e0;
    -light-grey: #f9f9f9;
    -dark-grey: #333;
    -light-blue: #E3F2FD;
    -delete-red: #ffb3b3;
    -cyan: #94a2b3;
    -fx-font-family: 'Segoe UI', sans-serif;
}

.main-container {
    -fx-padding: 50px 0 50px 0 ;
    -fx-spacing: 50px;
    -fx-alignment: TOP_CENTER;
    -fx-background-color: -background-light-blue;
}

/* ----- HOME PAGE ----- */


.header-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    
}

/* Green buttons: create new rule/save */
.create-button {
    -fx-font-size: 20px;
    -fx-background-color: -green; 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-padding: 10px 20px 10px 20px;
}
.create-button:hover {
    -fx-background-color: -dark-green;
}

.delete-button {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-cursor: hand;
}
.delete-button:hover {
    -fx-background-color: -delete-red;
}

/* ----- TOGGLE SWITCH STYLE ----- */

/* OFF state */
.toggle-switch {
    -fx-background-color: -grey; /* background OFF */
    -fx-text-fill: white; /* text OFF */
    -fx-background-radius: 20; 
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 0; 
}

/* on STATE */
.toggle-switch:selected {
    -fx-background-color: -green; /* background ON */
    -fx-text-fill: white; /* text ON */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0, 0, 1);
}

.toggle-switch:hover {
    -fx-background-color: -dark-green;
}

.toggle-switch:pressed {
    -fx-background-color: derive(-grey, -10%); /* make the color darker of 10% */
}
.toggle-switch:selected:pressed {
    -fx-background-color: derive(-green, -10%);
}

.list-view {
    -fx-background-color: transparent; 
    -fx-background-insets: 0;
    -fx-padding: 10px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 10px; 
    -fx-background-radius: 5px;
    -fx-max-width: 800px;
    
}

/* Rule Label style (class assigned in controller)*/
.rule-name-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/* Rule cell style 
    we don't need to assign a class to list cell because each JavaFX coponent has an assigned class'
*/
.list-cell:filled {
    -fx-padding: 10px 20px 10px 20px; 
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    
    -fx-background-insets: 2px 15px 2px 15px; /* space between cells */
    -fx-border-color: transparent; 
    
    /* light shadow */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.list-cell:empty {
    -fx-background-color: transparent;
}

/* 3D effect on mouse hover*/
.list-cell:filled:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 2);
    -fx-z-index: 1;
    -fx-cursor: hand;    
    -fx-background-color: -light-grey;
    
    
}

/* when we select a rule */
.list-cell:filled:selected {
    -fx-background-color: -light-blue;
    -fx-text-fill: black; 
    
}

/* ----- CREATE RULE PAGE ----- */

/* --- SCROLL PANE --- */

.transparent-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.transparent-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.transparent-scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.transparent-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -cyan; 
    -fx-background-radius: 5px;
}

/*  back arrow */
.icon-button {
    /* button dimensions */
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;  
    /* image loaded as wallpaper */
    -fx-background-image: url("arrow_back.png");
    -fx-background-size: contain; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 
    -fx-cursor: hand;
}

.icon-button:hover {
    -fx-background-color: -grey;
    -fx-background-radius: 50%;
}

.section-label {
    -fx-font-size: 18px;
}

.name-section {
    -fx-font-size: 18px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-min-width: 500px;
    -fx-min-height: 40px; 
    -fx-background-radius: 5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* --- COMBO BOX --- */
/* CLOSED */
/* main container of the selection */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: -grey;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    
    -fx-padding: 0 10 0 10; 
    -fx-min-width: 500px;
    -fx-min-height: 40px; 
    
    -fx-font-size: 18px;
}

.combo-box:hover {
    -fx-background-color: -light-grey;
    -fx-border-color: -cyan;
}

/* text area inside the main container */
.combo-box .list-cell {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

/* arrow */
.combo-box .arrow-button { -fx-background-color: transparent; }
.combo-box .arrow {
    -fx-background-color: black;
    -fx-padding: 0.3em;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}

/* --- COMBO BOX POPUP --- */
/* OPENED */
/* list that appears when the user clicks on the selection */
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: -grey;
    -fx-padding: 2px;
    -fx-border-radius: 0;

}

/* row of the list */
.combo-box-popup .list-cell {
    -fx-padding: 5px 10px 5px 10px; 
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: -light-grey;
}

/* --- SPINNER --- */
.spinner {
    -fx-background-color: white;
    -fx-border-color: -grey;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-height: 40px; 
    -fx-max-width: 100px;
    -fx-pref-width: 100px;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-padding: 0 5 0 0;
}

/* Frecce Spinner */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 8px; 
    -fx-cursor: hand;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: -light-grey;
}

.spinner .increment-arrow, .spinner .decrement-arrow {
    -fx-background-color: black;
}

/* ----- PLAY AUDIO ----- */

.audio-field {
    -fx-font-size: 14px;
    -fx-padding: 5px 10px 5px 10px; 
    -fx-background-radius: 5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.standard-button {
    -fx-font-size: 14px;
    -fx-padding: 5px 10px 5PX 10PX;
    -fx-background-color: white;
    -fx-border-color: -grey; 
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.standard-button:hover {
    -fx-background-color: -light-grey;
    -fx-cursor: hand;
}

.text-section {
    -fx-font-size: 16px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-min-width: 500px;
    -fx-min-height: 50px; 
    -fx-background-radius: 5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* --- RADIO BUTTONS --- */
.radio-button {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-border-color: -grey;
    -fx-border-radius: 10px; 
}

.radio-button:selected .radio .dot {
    -fx-background-color: -dark-grey;
    -fx-background-insets: 0;
}

.dynamic-content {
    -fx-padding: 20 0 0 0; 
}

.save-button {
    -fx-font-size: 18px;
    -fx-background-color: -green; 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-padding: 10px 20px 10px 20px;
}
.save-button:hover {
    -fx-background-color: -dark-green;
}